<div class="center hero-unit">
  <h1>Welcome to Mo's Twitter App</h1>
  <h2>
    To see how much better my version is, compare to the original 
    <a href="http://www.twitter.com/">Twitter</a>
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
